body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.top-nav {
  background: #262626;
}
.top-links {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.top-links a {
  text-decoration: none;
  font-weight: bold;
  color: #aaa;
}
